
    <ion-content> 
        <div class="list card">
<br><br><br><br>
  <div class="item item-avatar">
    <img src="img/BNK48_LOGO.jpg">
    <h2>BNK48 OFFICE</h2>
  </div>


  <div class="item item-body">
    <img class="full-image" src="img/BNK48.jpg">
    <p>
    BNK 48  

  สถานที่ตั้ง : กรุงเทพมหานคร, ประเทศไทย<br>
  แนวเพลง : ไทยป็อป-เจป็อป<br>
  ช่วงเวลาดำเนินการ : ช่วงปี พ.ศ. 2560–ปัจจุบัน<br>
  ค่ายเพลง  : โรส อาร์ทิสท์ เมเนจเม้นท์ / BNK48 Office
    </p>
    <p>
      <a href="#" class="subdued">15M Like</a>
      <a href="#" class="subdued">10K Comments</a>
    </p>
  </div>

</div>
    <ion-content>
